* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
}

/* ============
Typography
============ */

.dog-name {
    color: #F8F8F8;
    font-size: 2rem;
    font-weight: 600;
}

.dog-bio {
    color: #B7B7B7;
    font-size: 1.25rem;
}

/* === images === */

.dog-img {
    border-radius: 10px;
    max-height: 510px;
}

.logo {
    width: 60px;
}

.top-icon {
    width: 30px;
}

.badge {
    position: absolute;
}

.icon-btn {
    width: 30px;
}

.icon-x {
    width: 28px;
}

.profile-pic {
    max-width: 70px;
    max-height: 70px;
    border-radius: 50%;
}

/* === buttons === */

button { 
    cursor: pointer;
    border: none;
    text-align: center;
    box-shadow: 0 10px 20px #E9E9EA;
}

.like-btn,
.dislike-btn {
    background: #fff;
    border-radius: 50%;
    padding: 1.5em;
}

.dislike-btn:hover,
.dislike-btn:focus {
    background: #FFE7EF;
}

.like-btn:hover,
.like-btn:focus {
    background: #DBFFF4;
}

.like-btn {
    justify-self: start;
}

.dislike-btn {
    justify-self: end;
}

.discovery-btn {
    padding: 1em;
    border-radius: 30px;
    background-image: linear-gradient(to right, #F83375, #FA695A);
}

/* ============
Layout
============ */

.container {
    width: 90%;
    max-width: 450px;
    margin: 1.5em auto;
    grid-template-columns: 1em auto 1em;
    box-shadow: 5px 5px 10px #E9E9EA, -5px -5px 10px #E9E9EA;
    border-radius: 10px;
    /* height: 100vh; */
}

.container,
header,
.tindog-btns {
    display: grid;
}

header {
    margin: .75em 0;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
}

header,
main,
.tindog-btns {
    grid-column: 2;
}

.tindog-btns {
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    margin-bottom: 1em;
}

.dog-details {
    position: relative;
}

.dog-info {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

/* ============
Media Query
============ */

@media (min-width: 551px) {
    
}